@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#password_img{
    width: 100px;
}

#title{
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}

#password_container{
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b7500;
    color: bisque;
    border-radius: 8px;
    padding: 8px 18px;

}

#password{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#copy{
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    height: 30px;
    width: 30px;
    font-size: 20px;
    cursor: pointer;
    transition:  .4s;
}

#copy:hover{
    color: rgb(120, 248, 0);
}

#password_items{
    width: 400px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 18px;
    border-radius: 8px;
}

.item{
    display: flex;
    gap: 14px;
}

#size{
    width: 50px;
    text-align: center;
    border-radius: 4px;
    border: none;
}

#size::-webkit-inner-spin-button,
#size::-webkit-outer-spin-button{
    opacity: 1;
}

#size:focus{
    outline: 1px solid #2ec500;
}

#generator{
    background-color: rgb(0, 168, 65);
    border: none;
    margin-top: 12px;
    padding: 10px 0px;
    border-radius: 4px;
    color: #041100;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: .4s ease;
    color: #003803;
}

#generator:hover{
    background-color: #2ab600;
    color: #fff;
}